<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true" processIsolation="true" >
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <testsuites>
        <testsuite name="base">
            <directory>tests/Base</directory>
        </testsuite>
    </testsuites>
</phpunit>
